<!DOCTYPE html>
<html>

<head>
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=renderer content=webkit>
    <title>唐杰的博客-404</title>
    <meta charset=UTF-8>
    <meta name=keywords content=网站制作,博客,个人博客,个人网站,网站建设,网站模板>
    <meta name=description content=如何建立个人网站制作_企业网站建设方案_独立个人博客模板源码程序下载哪个比较好_SEO排名技术建站cms系统制作企业网站个人网站价格_个人博客网站制作视频教学快速建站>
    <meta name=viewport content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

</head>

<body>
    <div class="mianBox">
        <img src="${require(`../../../static/images/yun0.png`)}" alt="" class="yun yun0" />
        <img src="${require(`../../../static/images/yun1.png`)}" alt="" class="yun yun1" />
        <img src="${require(`../../../static/images/yun2.png`)}" alt="" class="yun yun2" />
        <img src="${require(`../../../static/images/bird.png`)}" alt="" class="bird" />
        <img src="${require(`../../../static/images/san.png`)}"  alt="" class="san" />
        <div class="tipInfo">
            <div class="in">
                <div class="textThis">
                    <h2>出错啦,错误信息</h2>
                    <p class="desc">错误描述</p>
                    <p class="wait"><span>页面即将跳回</span><span>等待<b id="wait">5</b>秒</span></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>