.tjaside{
    position: absolute;
    width: 370px;
    top:70px;
    right: 0;
}
.tjaside .right_box{
    margin-bottom: 15px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 14px;
}

.tjaside .right_box .select_title{
    font-size: 14px;
    padding-bottom:3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.tjaside .right_box .cell_box{
    display: flex;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.tjaside .right_box .cell_box:last-child{
    border-bottom:none;
}
.tjaside .right_box .cell_title{
    flex: 3;
}
.tjaside .right_box .cell_num{
    flex: 1;
}
.tjaside .right_box .cell_wrap{
    padding: 3px;
}
.tjaside .right_box .cell_wrap a:hover{
    color: #1890ff;
}