<div class="aui-nav-slider"></div>   
<header class="aui-navBar aui-navBar-fixed">
    <div class="nav_mask"></div>
    <a href="javascript:;" class="aui-navBar-item left">
        <i class="iconfont icon-back"></i>
    </a>
    <div class="nav_logo">TG-BLOG</div>
    <a href="javascript:;" class="aui-navBar-item right">
        <i class="iconfont icon-category"></i>
    </a>
    <nav class="slider_mnav" style="left:0;">
        <div class="mnav_hd">
            <div class="icon_box">
                <i class="iconfont icon-back"></i>
            </div>
            <div class="hd_title">TJ-BOLG</div>
        </div>
        <ul class="option">
            <li class="option_item">
                <a class="item__link actived">首页</a>
            </li>
            <li class="option_item">
                <a class="item__link">首页</a>
                <ul class="option_item_c">
                    <li class="item_c__its">
                        <a class="item__link">儿子</a>
                    </li>
                </ul>
            </li>
            <li class="option_item">
                <a class="item__link">首页</a>
            </li>
            <li class="option_item">
                <a class="item__link">首页</a>
            </li>
            <li class="option_item">
                <a class="item__link">首页</a>
            </li>
        </ul>
    </nav>
</header>