@import '../../components/styles/_variabels.less';
.tjblog-page{
    font-family: @wet-ftf-sans-serif;
    .header{
        padding: 30px 40px;
        color: #ffffff;
        font-size: 20px;
    }
    .tips{
        padding: 5px 40px;
        color: fade(#ffffff,90%);
    }
}