@import '../../components/styles/_variabels.less';
@import '../../tool/mbtool.less';
.find-section_hd{
    width: 100%;
    background-color: #ffffff;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    .hd_form{
        padding:0 20px 20px 20px;
    }
    .hd_box{
        display: flex;
        align-items: center;
        padding: 20px;
        .txt{
            font-weight: 600;
            padding-left: 20px;
        }
        .left_img{
            img{
                width: 48px;
                height: 48px;
            }
        }
        .rt_bg{
            position: relative;
            height: 50px;
            flex: 1;
            &::after,&::before,.rt_dot{
                content: '';
                display: block;
                position: absolute;
                border-radius: 50%;
            }
            &::after{
                border:1px solid @wet-primary;
                box-shadow: 0 0 2px 0 @wet-primary;
                width: 10px;
                height: 10px;
                top:0;
                right: 30px;
            }
            &::before{
                width: 30px;
                height: 30px;
                border: 1px solid @wet-info;
                right: 0;
                box-shadow: 0 0 2px 0 @wet-info;
                top: 50%;
                margin-top: -15px;
            }
            .rt_dot{
                width: 20px;
                height: 20px;
                border: 1px solid @wet-warn;
                box-shadow: 0 0 2px 0 @wet-warn;
                right: 30px;
                bottom: 0;
            }
        }
    }
}
.tjblog-page{
    font-family: @wet-ftf-sans-serif;
    font-size: 16px;
    padding: 0 25px;
    .header{
        padding: 30px 15px;
        color: #ffffff;
        font-size: 20px;
    }
    .tips{
        padding: 5px 15px;
        color: fade(#ffffff,95%);
    }
    .home_ulli{
        margin: 0;
        padding: 10px;
        margin-top: 30px;
        display: flex;
        background-color:fade(#ffffff,100%);
        border-radius: 5px;
        .itemicon{
            display: block;
            width: 22px;
            height: 22px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 auto;
        }
        .icon_calssify{
            background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAB6UlEQVRYR+2VT0gUcRTHP292YToF4SE6dBBZkDA9RLeunuwSpQct2KaOHWaLEkUxKnEOjbsHzzr0B5HCkx06Bh0K6ZBoRLKdOkR4jjVzXsyIu64tzS9cNWLmNL/5vff9fXjze+8rHPIjh3w+9QDB7TZ042QilJ1Zpt9f2xn347PXJZt67M+5Gc1mv7+V1ruV7bgawGP3BD/lI8jRRACoEEo31/zXUexG2TsXhvoKxErKVfhmZ60uab3zNYqtAUy7lxDrWZJAdV/1Hk5xLFqvf/LuI4wY51py0W4bnK8HCAp9qMwZi6g+wCmOxgCr3jgwHL0rlEG/NNBpF+T41nfptXODz/cJQG8eyQ0VdwOsr048ArmSAqQVOIAK8FLQN791gXIBkc59BzBr40ZtOFM4DbJkJhA1vPTj+LNbc2BiAOSJYa5C2GHnhj/Uz4FoFdw6g+r5ugnZSFV1Dac4tXOrUvZ6JNSzBhArdm6oOnH/MTc0wG92yC47jv3gVOIhEi6SL72oGRNC4N4AqyUhVxFZIO+/246rAcSXkPcgZr9FwsvkS09jocAdQC3DS6jKZqaT6w+Xm2ZGzBTGQWI3NHo07MUpNc8NU4C0AmkF/pMK7MGO/3oSqtWB4zfXjgncHtQysmOuTqZ2XLWMX2EiejCuSMPlAAAAAElFTkSuQmCC);
        }
        .icon_manual{
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACcklEQVRYR+1XzWvTcBh+fknbjKYT5zopKrs4dbqwFSk42x10iDcPnvQgCIL+DSJ42cGDO+zgxYMePOgEEUEvQ6QynWUofswpTPGr1u9qW1eXujbrKzl0JPllW0qTTcHcEsL7PL+8z/O8eRks18EUHQFV263P3bqfkYTTN2JMrdVj1sIHUtUxBiTcArTWYQHWNhxj3/8T+De/QFAE9kYAn8BJh5PM0wLhZZFXkq0GiGgVgB4A4uAUnfk9B2W6AnwomQuEJeDYRgbf0vgY/UYYzTogcCdLR+OtOCsyCNbX7+eAoRfkqiG4L1As0+SjApRzrwkVA1ZnM3Cii2HgGeHVL/c4cAQKZRp/nMeO828ImoHAphBwUmE4PkH4ZGlFI3Q4AlfTlOhbS5fbmth6Bsx3d1oDrmUII1/McJub4UgDGRUoag40UE8StgeBU90MogMRXv8IDL/n9fN3JqFTGzbS+/nks86Cdyrt39CEKyKDuCI2nK3Sg1QWsYVc4LkNSxrdvvUVuy6mzYJpDQBD25fBhnfz1KPISK72Y42xBXooXUoDI589TkIdlIj0GO4FEKjNAj18ChU3ZGeusaI21LQy/EGJ/yNaDhvq4M8nbiK6c5+ZwMOf1NsdojGfwDgb6jF84W3jGqiBqzM5xPccNhMoaZQc/4HdXg0jIzgEEfH+QxwBz2xoBQ9G1iG6rd9M4F6eoltlJFv8aHHThnbgvoAEpSNhK0JXbbgQuH5AWwLGkze6mCwG7jmBpcA9JeAE3DMCTsE9IVAPOJsjdG3pW3w5rXc9z2QmO9ViLqKfruoXwiQgZDfCZDk8FQl3PNFkacC4nv8BKBi/MOAOIc4AAAAASUVORK5CYII=);
        }
        .icon_video{
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACoklEQVRYR+2WzUsUcRjHv8/+mpndNZNFrQ0LnYWCgoikUjz0QnQrI/ESQYfo4qFLL6ciyC5dCvoDejlIEa6QSF08iIEoCEF4KnRnNV/qYEqL48ys83tit5aGYTfWdXM7ONfn93y/n+eF328IFf6owv7YAsh2oKGhYY+iKB2rq6tPg8HgfiHEBe9opJTJZDL5IhaLXQawzxtj5nfpdHpCUZSbRLQtF2Nm1zTNx/n0ACzbth2fm5ubpWg0Wh8KhaaJKMTMg0KI867rDhDRWd9+XJVSDhHRByKKeIyWmLk5EAicBvDMB/c3vZRt2zrput5ORP2exOcrKyvXw+HwOBEd8FbEzGeY2RFCDAHQPDmTa2trx4UQd4nohg88r17mDDO3ZwA6iajXR37LcZzXqqpmIKKe2A/XdVuFEAcBxH05o4ZhnNJ1vY+IzhWp11kIgImonZlnAIxlxuMRnLUs64imaV1E1O2r9qXjONdUVX0P4Kine4X0OqmpqekkEd333wdEZFqWdUXTtDYA/raOG4ZxW9f1JwAO+3If2bY9qmlaD4BgLlZA717l74FCHdiMG1JK2Z13BzbDPOMhpby0BbDuDth7q2AeqoX4bqF67BtoA+9ZSSP4cqcZ6d1V2TVRZ1Ko7/kMbd4saW1KAkg+bIHcrv4xdCVqhhcQGUgikJbrAikPwG9LsWShLp5A1cfFoiHKCpBzjfQbiAzOFgXxTwCqRxZQ/2qyAgBpFzXD84i8nUYgzZsLEJ5YRG18CsqiXZRx7lBJI5h+cAxu5Ncjp3w1Udc7hdCn5XUZbwgg1bITqdZd2W3fMTwPKq7beQFL6kBJpRZI+j8AGhsb24QQI+WsrFgtZj6R/SOKxWJ9ADqKTSzTuTeJROJi5X/JylRNyTIV78BP9dJbXh07PYsAAAAASUVORK5CYII=);
        }
        .item{
            flex: 1;
            list-style: none;
        }
        .link{
            display: block;
            color: @wet-inverse;
            text-align: center;
            &:active{
                background-color: fade(#000000,10%);
            }
        }
    }
    .page_section{
        .section_title{
            font-size: 14px;
            font-weight: 600;
            padding: 10px 0;
        }
       .section_content{
            background-color: fade(#ffffff,100%);
            padding: 15px;
            font-size: 14px;
            border-radius: 5px;
            &.new{
                padding-right: 110px;
                background-position: right center;
                background-repeat: no-repeat;
                background-size: auto 120px;
                background-image: url(./new.png);
            }
            .art_hd{
                a{
                    color: @wet-primary;
                    text-decoration: underline;
                    font-weight: 600;
                }
            }
            .art_sub{
                color:@wet-warn;
            }
            .art_desc{
                margin: 0;
                word-wrap:break-word;
            }
            .art_list{
                margin: 0;
                padding: 0;
                
                .art_li{
                    list-style: none;
                    position: relative;
                    padding: 10px 0;
                    &::after{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;right: 0;
                        .border_1px();
                    }
                    &:first-child{
                        padding-top: 0;
                    }
                    &:last-child{
                        &::after{
                            display:none;
                        }
                    }
                }
                .art_link{
                    text-decoration: none;
                    color: @wet-inverse;
                    .art_hd{
                        font-size: 14px;
                        color: @wet-primary;
                        font-weight: 600;
                    }
                    .art_sub{
                        font-size: 12px;
                        color: @wet-warn;
                    }
                }
            }
            .art-page{
                text-align: center;
                padding-top: 20px;
                position: relative;
                &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;right: 0;
                    .border_1px();
                }
                .page_box{
                    display: inline-block;
                }
            }
       }
    }
}
.blog-artlist{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    li{
        list-style: none;
        flex: 1;
        padding: 4px;
    }
}