.mycard__msglist_icon{
    display: flex;
    padding: 20px;
    .msglist_item{
        cursor: pointer;
        flex: 1;
        text-align: center;
        .item__click{
            display: inline-block;
            .iconfont{
                font-size: 30px;
            }
        }
    }
}
.mycard__csdn{
    text-align: center;
    .csdn_btn{
        font-size: 14px;
        cursor: pointer;
        border-radius: 40px;
        display: inline-block;
        padding: 10px 30px;
        color: #fff;
        background: #333;
        user-select: none;
    }
}