.queryart_box{
    min-height: 600px;
    font-size: 14px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 30px;
}
.queryart_box .box_tab{
    min-height: 300px;
}
.queryart_box .artlist{
    border-bottom: 1px solid rgba(178,186,194,0.15);
    padding: 20px 0;
}
.queryart_box .artlist:last-child{
    border-bottom:none;
}
.queryart_box .art_hd{
    font-size: 17px;
    color: #2e3135;
    font-weight: 600;
    line-height: 1.2;
    padding: 5px 0px;
}
.queryart_box .gray_c{
    color: rgb(178,186,194);
}
.queryart_box .desc{
    margin: 5px 0;
}