.wxt-btn {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.wxt-btn.middle {
    padding: 8px 16px;
}

.wxt-btn:hover {
    color: #5AC2E7;
    border-color: #5AC2E7;
}

.wxt-btn:active {
    color: #606266;
    border-color: #dcdfe6;
}