<div class="main__articel">
    <h2 class="art_title">博客文章</h2>
    <div class="bubble-line">
        <div class="left-shape">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15 30" enable-background="new 0 0 15 30" xml:space="preserve">
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#eff3f5" stroke="#e6e6e6" stroke-miterlimit="10" d="M0,29.4c0,0,7.5,0,7.5-7c0,0,7,0,7-7c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1,0-0.2c0-7-7-7-7-7c0-7-7.5-7-7.5-7"></path>
            </svg>
        </div>
        <div class="right-shape">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15 30" enable-background="new 0 0 15 30" xml:space="preserve">
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#eff3f5" stroke="#e6e6e6" stroke-miterlimit="10" d="M15,29.4c0,0-7.5,0-7.5-7c0,0-7,0-7-7c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1,0-0.2c0-7,7-7,7-7c0-7,7.5-7,7.5-7"></path>
            </svg>
        </div>
    </div>
    <ul>
        <li class="art_ls">
            <div class="ls_tagbox">
                <h3 class="art_h">
                    <span class="wet-tag circle">原</span>
                    <span class="wet-tag circle">转</span>
                    <span class="wet-tag circle">教</span>
                    <span class="wet-tag circle">杂</span>
                    <a href="/article/aid/17.html" class="artlist-link">
                        测试
                    </a>
                </h3>
                <div class="art_tag">
                    <span class="wet-tag small success">公众文章</span>
                    <span class="wet-tag small risk">非公众文章</span>
                    <span class="wet-tag small warn">栏目</span>
                    <span class="wet-tag small primary">标签</span>
                </div>
            </div>
            <div class="art_base">
                <span><i class="iconfont icon-icon-awsauthor"></i>&nbsp;作者：&nbsp;TANGJIE</span>
                <span><i class="iconfont icon-friend"></i>&nbsp;发布时间：&nbsp;2019-01-31</span>
                <span><i class="iconfont icon-fire"></i>&nbsp;点击量：&nbsp;2</span>
            </div>
            <p class="art_desc">
                基于微信小程序轻快的特点，我们拟定了小程序界面设计指南和建议。 设计指南建立在充分尊重用户知情权与操作权的基础之上。旨在微信生态体系内，建立友好、高效、一致的用户体验，同时最大程度适应和支持不同需求，实现用户与小程序服务方的共赢。
            </p>
            <div class="btn_wrapper">
                <a href="/article/aid/18.html" class="wxt-btn middle">阅读详情</a>
            </div>
        </li>
    </ul>
    <div class="articel_page">
        <ul class="pagination">
            <li class="disabled"><span>«</span></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>