<div class="main__articel">
    <ul>
        <li class="art_ls">
            <div class="ls_tagbox">
                <h3 class="art_h">
                    <span class="wet-tag circle wet-tag__success">原</span>
                    <span class="wet-tag circle wet-tag__warn">转</span>
                    <span class="wet-tag circle wet-tag__info">教</span>
                    <span class="wet-tag circle wet-tag__inverse">杂</span>
                    <a href="/article/aid/17.html" class="artlist-link">
                        测试
                    </a>
                </h3>
                <div class="art_tag">
                    <span class="wet-tag small wet-tag__success">公众文章</span>
                    <span class="wet-tag small wet-tag__risk">非公众文章</span>
                </div>
            </div>
            <p class="art_desc">
                基于微信小程序轻快的特点，我们拟定了小程序界面设计指南和建议。 设计指南建立在充分尊重用户知情权与操作权的基础之上。旨在微信生态体系内，建立友好、高效、一致的用户体验，同时最大程度适应和支持不同需求，实现用户与小程序服务方的共赢。
            </p>
            <div class="btn_wrapper">
                <div class="art_base">
                    <span><i class="iconfont icon-icon-awsauthor"></i>&nbsp;作者：&nbsp;TANGJIE</span>
                    <span><i class="iconfont icon-friend"></i>&nbsp;发布时间：&nbsp;2019-01-31</span>
                    <span><i class="iconfont icon-fire"></i>&nbsp;点击量：&nbsp;2</span>
                </div>
                <div class="btn_div">
                    <a href="/article/aid/18.html" class="wet-btn">阅读详情</a>
                </div>
            </div>
        </li>
    </ul>

    <div class="articel_page">
        <ul class="pagination">
            <li class="disabled"><span>«</span></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>