<div class="main__articel">
    <h2 class="art_title">博客文章(散列)</h2>
    <ul>
        <li class="art_ls">
            <h3 class="art_h">
                <a href="/article/aid/18.html">
                    <span class="art_label imgicon img-label-a">原</span>
                    <span>测试</span>
                </a>
            </h3>
            <div class="art_base">
                <span><i class="iconfont icon-edit"></i>作者：TANGJIE</span>
                <span><i class="iconfont icon-brush_fill"></i>发布时间：2019-01-31</span>
                <span><i class="iconfont icon-yueduxiao"></i>点击量：2</span>
            </div>
            <p>
                安抚发送						
            </p>
            <div class="btn_wrapper">
                <a href="/article/aid/18.html" class="btn btn_primary">阅读详情</a>
            </div>
        </li>
    </ul>
    <div class="articel_page">
    <ul class="pagination">
        <li class="disabled"><span>«</span></li> 
        <li class="active"><span>1</span></li>
        <li><a href="#">2</a></li> 
        <li><a href="#">»</a></li>
    </ul>
</div>
</div>