@import '../../components/styles/index.less';
.wetui-page{
    width: 100%;
    height: 100vh;
    font-size: @wet-fs-base;
    font-weight: @wet-fw-base;
    font-family: @wet-ftf-base;
    overflow: auto;
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    color: @wet-inverse;
    z-index: 2;
    &::before{
        content: '';
        display: block;
        flex:0 0 70px;
    }
    .view{
        flex: 1;
        min-width: 1100px;
        padding-top: 90px;
        .view_box{
            width: 1100px;
            margin: 0 auto;
            .view_right{
                width: 780px;
                float: right;
            }
            .view_left{
                float: left;
            }
            &::after{
                content: '';
                display: block;
                clear: both;
            }
        }
    }
    .view_section{
        margin-bottom: 20px;
        background-color: #ffffff;
        .section-content{
            padding: 10px 20px;
        }
        .hd_title{
            color: #34495e;
            margin: 0;
            padding: 20px;
            font-size: 18px;
            font-weight: 600;
        }
    }
}
.left_planels{
    position: relative;
    width: 300px;
    box-sizing: border-box;
    background-color: #ffffff;
    color: @wet-inverse;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    h3{
        padding: 20px;
        margin: 0;
        font-weight: 500;
    }
    .msglist{
        padding: 20px;
        list-style: none;
        margin: 0;
        .msglist__item{
            margin-bottom: 15px;
            height: 20px;
            line-height: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .reward-desc{
        padding: 20px;
        margin:0;
    }
    .ad_box{
        img{
            width: 100%;
            height: auto;
        }
    }
}
.shuibo_box {
    background-color: @wet-body-bg;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.plugin-circle {
    animation: plugin-circle_grow 3s linear;
    border: 1px solid fade(#1ABC9C,50%);
    border-radius: 50%;
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 1;
}

@keyframes plugin-circle_grow {
    to {
        opacity: 0;
        transform: scale(5);
    }
}