<div class="right_tool">
    <ul class="tool__list">
        <li class="list__item">
            <a class="item-link gengduoneirong" href="javascript:void(0);">
                <div class="tooltipify left">
                        <div x-arrow class="popper__arrow"></div>
                </div>
                <i class="iconfont icon-gengduoneirong"></i>
            </a>
        </li>
        <li class="list__item">
            <a class="item-link favorites">
                <i class="iconfont icon-favorites"></i>
            </a>
        </li>
        <li class="list__item">
            <a class="item-link code">
                <i class="iconfont icon-code"></i>
            </a>
        </li>
        <li class="list__item">
            <a class="item-link dmail"> 
                <i class="iconfont icon-icon_dmail"></i>
            </a>
        </li>
        <li class="list__item">
            <a class="item-link code1">
                <i class="iconfont icon-code1"></i>
            </a>
        </li>
    </ul>
</div>