/* #animation{
    animation:fadeInDown 1s .2s ease both
    -webkit-animation:fadeInDown 1s .2s ease both;
    -moz-animation:fadeInDown 1s .2s ease both;
} */


/* .wet_fadein_down {
    animation: fadeInDown 1s .2s ease both;
    -webkit-animation: fadeInDown 1s .2s ease both;
    -moz-animation: fadeInDown 1s .2s ease both;
} */

@keyframes WetfadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-webkit-keyframes WetfadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        transform: translateY(-20px);
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes WetfadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
        -moz-transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        transform: translateY(-20px);
        -moz-transform: translateY(0)
    }
}