@import '../../libs/less/lib-reset.less';
@import '../../libs/less/lib-base.less';
@import '../../libs/less/githubcode.less';
@import '../../components/elements/bgdiv/index.less';
@import '../../components/plugins/headnav/index.less';
@import '../../components/elements/leftele/leftele.less';
@import '../../components/elements/leftele/listdiv/index.less';
@import '../../components/elements/leftele/hotart/index.less';
@import '../../components/elements/leftele/reward/index.less';
@import '../../components/elements/righttool/index.less';
@import '../../components/elements/artlist/index.less';
@import '../../components/elements/footer/index.less';
@import '../../components/elements/leftele/adcard/index.less';
@import '../../components/plugins/login/index.less';
@import '../../components/plugins/rightemenu/index.less';
.index-page_title{
    font-size: 18px;
    margin-bottom: 40px;
}
.right_main_hd{
    &::after{
        content: '';
        display: block;
        clear: both;
    }
    .slider-show{
        float: left;
    }
    .right_tip{
        width: 210px;
        float: right;
        font-size: 16x;
        h3{
            font-size: 16px;
            margin-bottom: 7px;
        }
        &>div{
            height: 80px;
            p{
                height: 40px;
                line-height: 20px;
                position: relative;
                overflow: hidden;
                &::after{
                    content:'...';
                    font-weight: bold;
                    position: absolute;
                    bottom:0 ;right: 0;
                }
            }
        }
        .tip_updata{
            margin:10px 0px;
        }
    }
}
.blog_msg{
    margin-top: 20px;
    .blog_msg__title{
        margin-bottom: 20px;
    }
    .blog_msg__desc{
        color: #333333;
        text-align: justify;
    }
}
.msg_tab{
    padding: 15px 0;
}
.layout-model{
    padding: 20px;
    margin-top: 20px;;
}

pre,code{font-family: SFMono-Regular,Consolas,"Liberation Mono",Menlo,Courier,monospace;}
.pageview{
    padding-top: 100px;
}

.main__articel{
	padding: 0;
}
.main__articel header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    .hd_belongto{
        position: relative;
        top: 2px;
    }
}
.main__articel header h2 span {
    display: inline-block;
    width: 35px;
    height: 40px;
    text-align: center;
    margin-right: 20px;
}
.main__articel header h2 {
    flex: 1;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    color: #484848;
    font-weight: 600;
    position: relative;
}
.main__articel header div {
    flex: 1;
    font-size: 16px;
    color: #666;
    text-align: right;
}
.main__articel .art_msg {
    padding: 10px 0;
}
.main__articel .art_msg span {
    margin-right: 20px;
}
.main__articel .art_label{font-size: 14px;}
.main__articel .art_dsc {
    padding: 10px;
    color: #888;
    border: 1px solid #f3f3f3;
    background: #f6f6f6;
}
/*文章内容区域样式*/
.main__articel .markdown-body {
    padding: 15px 0 50px 0;
}
.main__articel .art_btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
}
.msg__code {
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
}
.msg__code:before {
    content: "代码效果链接地址";
    display: inline-block;
}
.msg__code a {
    color: #007acc;
    text-decoration: underline;
}
.msg__code span {
    color: #ff9800;
}
.art_title{
	font-size: 16px;
    line-height: 40px;
    border-bottom: 2px solid #444444;
    color: #484848;
    font-weight: 400;
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
}
.pl_box {
    border-radius: 10px;
    min-height: 50px;
    border: 1px solid #e74851;
    padding: 10px;
    margin-bottom: 15px;
}
.pl_box input {
    display: block;
    width: 100%;
    border: 0;
    outline: none;
    min-height: 50px;
}
.btn-right{
	text-align: right;
}
.art_recoment{
	li {
		padding: 10px 0;
		position: relative;
		font-size: 15px;
		border-bottom: 1px dashed #e5e5e5;
	}
	.recoment{
		width: 70%;
	}
	.youke{
		font-size: 20px;
		color: #e74851;
	}
	.recoment-time{
		position: absolute;
		right: 0;
		top: 10px;
		color: #555555;
	}
}
.bg-layout{
    padding: 20px;
    margin-bottom: 20px;
}
.markdown-body .hljs-right{text-align:right}.markdown-body .hljs-left{text-align:left}