@import '~antd/dist/antd.css';
@import './common/base.css';
@import './style/components/header.css';
@import './style/components/aside.css';
@import './style/page/userhome.css';
@import './style/page/login.css';
@import './style/animation.css';
.App {
  width: 100%;
  padding-top: 70px;
}
.App .App_hd{
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}
.App .App_hd .hd_box,.App_content{
  width: 1200px;
  margin: 0 auto;
}
.App .App_hd::after{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  border-bottom: 1px solid #f0f0f0;
}
.App .App_content .main{
  position: relative;
  z-index: 2;
}

.bgdiv{
  position: fixed;
  top: 0;left: 0;right: 0;bottom: 0;
  z-index: 1;
}
.bgdiv .item_a,.item_b{
  float: left;
  width: 50%;
}
.bgdiv  .item_b{
  text-align: right;
}
.bgdiv .canvasbox{
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
}