<aside class="box_left-fixed">
    <ul style="margin-top: 10px;">
        <li>
            <a>
                <span class="icon"><i class="iconfont icon-gerenzhongxin"></i></span>
                <span>用户</span>
            </a>
            <div>
                点击进入个人中心
            </div>
        </li>
        <li>
            <a>
                <span class="icon"><i class="iconfont icon-vip"></i></span>
                <span></span>
                <span>VIP</span>
            </a>
            <div>
                点击进入个人中心
            </div>
        </li>
        <li>
            <a>
                <span class="icon"><i class="iconfont icon-login"></i></span>
                <span></span>
                <span>登录</span>
            </a>
            <div>
                点击登录
            </div>
        </li>
        <li>
            <a>
                <span class="icon"><i class="iconfont icon-logout"></i></span>
                <span></span>
                <span>退出</span>
            </a>
            <div>
                点击登录
            </div>
        </li>
        <!-- <li>
            <a>
                <span class="icon"><i class="iconfont icon-hangye"></i></span>
                <span>类别</span>
            </a>
            <a>
                <span class="icon"><i class="iconfont icon-ui"></i></span>
                <span>WetUI</span>
            </a>
            <a>
                <span class="icon"><i class="iconfont icon-Frame"></i></span>
                <span>框架</span>
            </a> -->
        <!-- <a>
                <span class="icon"><i class="iconfont icon-tsx"></i></span>
                <span>TS</span>
            </a>
            <a>
                <span class="icon"><i class="iconfont icon-css"></i></span>
                <span>CSS3</span>
            </a> -->
        <!-- <a>
                <span class="icon"><i class="iconfont icon-tool"></i></span>
                <span>工具</span>
            </a>
            <a>
                <span class="icon"><i class="iconfont icon-mayun"></i></span>
                <span>码云</span>
            </a>
            <a>
                <span class="icon"><i class="iconfont icon-book"></i></span>
                <span>业务</span>
            </a>
        </li> -->
    </ul>
    <ul class="fixed">
        <li>
            <a>
                <span class="icon"><i class="iconfont icon-hangye"></i></span>
                <span>类别</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"><i class="iconfont icon-ui"></i></span>
                <span>WetUI</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"><i class="iconfont icon-Frame"></i></span>
                <span>框架</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"><i class="iconfont icon-tool"></i></span>
                <span>工具</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"><i class="iconfont icon-mayun"></i></span>
                <span>码云</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"><i class="iconfont icon-book"></i></span>
                <span>业务</span>
            </a>
        </li>
    </ul>
    <ul class="box_left-catgrey">

    </ul>
</aside>