<aside class="box_left-fixed">
    <div class="box_ul">
        <ul class="user_box">
            <li>
                <a>
                    <span class="icon"><i class="iconfont icon-gerenzhongxin"></i></span>
                    <span>用户</span>
                </a>
                <div class="li-slider hidden_list">
                    <i class="iconfont icon-info" style="margin-right: 10px;"></i>点击进入个人中心
                </div>
            </li>
            <li>
                <a>
                    <span class="icon"><i class="iconfont icon-vip"></i></span>
                    <span></span>
                    <span>VIP</span>
                </a>
                <div class="li-slider hidden_list">
                    <i class="iconfont icon-info" style="margin-right: 10px;"></i>点击进入个人中心
                </div>
            </li>
            <li>
                <a>
                    <span class="icon"><i class="iconfont icon-login"></i></span>
                    <span></span>
                    <span>登录</span>
                </a>
                <div class="li-slider hidden_list">
                    <i class="iconfont icon-info" style="margin-right: 10px;"></i>点击登录
                </div>
            </li>
            <li>
                <a>
                    <span class="icon"><i class="iconfont icon-logout"></i></span>
                    <span></span>
                    <span>退出</span>
                </a>
                <div class="li-slider hidden_list">
                    <i class="iconfont icon-info" style="margin-right: 10px;"></i>点击退出
                </div>
            </li>
            <!-- <li>
                <a>
                    <span class="icon"><i class="iconfont icon-hangye"></i></span>
                    <span>类别</span>
                </a>
                <a>
                    <span class="icon"><i class="iconfont icon-ui"></i></span>
                    <span>WetUI</span>
                </a>
                <a>
                    <span class="icon"><i class="iconfont icon-Frame"></i></span>
                    <span>框架</span>
                </a> -->
            <!-- <a>
                    <span class="icon"><i class="iconfont icon-tsx"></i></span>
                    <span>TS</span>
                </a>
                <a>
                    <span class="icon"><i class="iconfont icon-css"></i></span>
                    <span>CSS3</span>
                </a> -->
            <!-- <a>
                    <span class="icon"><i class="iconfont icon-tool"></i></span>
                    <span>工具</span>
                </a>
                <a>
                    <span class="icon"><i class="iconfont icon-mayun"></i></span>
                    <span>码云</span>
                </a>
                <a>
                    <span class="icon"><i class="iconfont icon-book"></i></span>
                    <span>业务</span>
                </a>
            </li> -->
        </ul>
        <ul class="fixed">
            <li>
                <a id="blog_hangye">
                    <span class="icon"><i class="iconfont icon-hangye"></i></span>
                    <span>类别</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="icon"><i class="iconfont icon-ui"></i></span>
                    <span>WetUI</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="icon"><i class="iconfont icon-Frame"></i></span>
                    <span>框架</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="icon"><i class="iconfont icon-tool"></i></span>
                    <span>工具</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="icon"><i class="iconfont icon-mayun"></i></span>
                    <span>码云</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="icon"><i class="iconfont icon-book"></i></span>
                    <span>业务</span>
                </a>
            </li>
        </ul>
    </div>
    <ul class="box_left-catgrey hidden_list">
        <li class="title">博客文章分类</li>
        <li class="cat-link">
            <a class="actived">分类一</a>
        </li>
        <li class="cat-link">
            <a>分类二</a>
        </li>
        <li class="cat-link">
            <a>分类三</a>
        </li>
        <li class="cat-link">
            <a>分类四</a>
        </li>
        <li class="cat-link">
            <a>分类五</a>
        </li>
    </ul>
</aside>