<aside class="box_left-fixed">
    <div class="box_ul">
        <ul class="user_box">
            <li class="user_main"> 
                <a href="Javascript:;">
                    <span class="icon"><i class="iconfont icon-gerenzhongxin"></i></span>
                    <span>用户</span>
                </a>
                <div class="li-slider hidden_list">
                    <i class="iconfont icon-info" style="margin-right: 10px;"></i>点击进入个人中心
                </div>
            </li>
            <li class="user_vip">
                <a href="Javascript:;">
                    <span class="icon"><i class="iconfont icon-vip"></i></span>
                    <span></span>
                    <span>VIP</span>
                </a>
                <div class="li-slider hidden_list">
                    <i class="iconfont icon-info" style="margin-right: 10px;"></i>点击进入个人中心
                </div>
            </li>
            <li class="user_login">
                <a href="Javascript:;">
                    <span class="icon"><i class="iconfont icon-login"></i></span>
                    <span></span>
                    <span>登录</span>
                </a>
                <div class="li-slider hidden_list">
                    <i class="iconfont icon-info" style="margin-right: 10px;"></i>点击登录
                </div>
            </li>
            <!-- <li>
                <a>
                    <span class="icon"><i class="iconfont icon-logout"></i></span>
                    <span></span>
                    <span>退出</span>
                </a>
                <div class="li-slider hidden_list">
                    <i class="iconfont icon-info" style="margin-right: 10px;"></i>点击退出
                </div>
            </li> -->
        </ul>
        <ul class="fixed">
            <li id="blog_hangye">
                <a>
                    <span class="icon"><i class="iconfont icon-hangye"></i></span>
                    <span>类别</span>
                </a>
                <div class="box_left-catgrey hidden_list">
                    <ul class="hangye_content">
                        <li class="title">博客文章分类</li>
                        <li class="cat-link">
                            <a class="actived">分类一</a>
                        </li>
                        <li class="cat-link">
                            <a>分类二</a>
                        </li>
                        <li class="cat-link">
                            <a>分类三</a>
                        </li>
                        <li class="cat-link">
                            <a>分类四</a>
                        </li>
                        <li class="cat-link">
                            <a>分类五</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a>
                    <span class="icon"><i class="iconfont icon-Frame"></i></span>
                    <span>框架</span>
                </a>
                <div class="li-slider hidden_list">
                    <i class="iconfont icon-info" style="margin-right: 10px;"></i>规划中
                </div>
            </li>
            <li>
                <a href="Javascript:;">
                    <span class="icon"><i class="iconfont icon-tool"></i></span>
                    <span>工具</span>
                </a>
                <div class="tool">
                    <div style="margin-top: 7px;" class="tool-list">
                        <a href="Javascript:;" class="jsts_code"><i class="iconfont icon-js" style="font-size: 32px;"></i><span>TS/JS常用代码</span></a>
                    </div>
                    <div style="margin-top: 20px;" class="tool-list">
                        <a href="Javascript:;" class="cssless_code"><i class="iconfont icon-css" style="font-size: 32px;"></i><span>CSS常用代码</span></a>
                    </div>
                </div>
            </li>
            <li id="blog_wetui">
                <a href="Javascript:;">
                    <span class="icon"><i class="iconfont icon-ui"></i></span>
                    <span>WetUI</span>
                </a>
                <div class="box_left-catgrey hidden_list">
                    <div class="wet-ui_content">
                        <div class="desc">
                            WetUI 是我工作之余，方面之后业务的定制化打造的组件库，大多数都是市面上已经存在的组件，我这里只不过是依葫芦画瓢做的，不打算发布npm，就放码云，下载引入，方便自己根据项目需求改样式之类的，不过即便是如此，这个组件库还是遵循我自己整合的一些设计规则，喜欢的就给star吧！感谢！
                        </div>
                        <ul>
                            <li>
                                <span>Vue组件文档</span>
                                <ul class="li_ul">
                                    <li>
                                        <a href="Javascript:;" class="wetui_pc-vue">PC端文档</a>
                                    </li>
                                    <li>
                                        <a href="Javascript:;" class="wetui_mb-vue">移动端文档</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span>React组件文档</span>
                                <ul class="li_ul">
                                    <li>
                                        <a href="Javascript:;" class="wetui_pc-react">PC端文档</a>
                                    </li>
                                    <li>
                                        <a href="Javascript:;" class="wetui_mb-react">移动端文档</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span>WeApp组件文档</span>
                                <ul class="li_ul">
                                    <li>
                                        <a href="Javascript:;" class="wetui_weapp">移动端文档</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="https://gitee.com/thepigthatwantstofly" target="_blank">
                    <span class="icon"><i class="iconfont icon-mayun"></i></span>
                    <span>码云</span>
                </a>
                <div class="li-slider hidden_list">
                    <i class="iconfont icon-info" style="margin-right: 10px;"></i>点击查看
                </div>
            </li>
            <li id="blog_yewu">
                <a href="Javascript:;">
                    <span class="icon"><i class="iconfont icon-book"></i></span>
                    <span>业务</span>
                </a>
                <div class="box_left-catgrey hidden_list">
                    <div class="business_content">
                        <div>当前个人项目规划</div>
                        <ul>
                            <li class="bs_litem">
                                <div>wetui</div>
                                <div class="bs_item_sup">
                                    <span>(10%)</span>
                                    <span class="wet-tag small warn">进行中</span>
                                </div>
                            </li>
                            <li class="bs_litem">
                                <span>柏林家政前端重构</span>
                                <div class="bs_item_sup">
                                    <span>(10%)</span>
                                    <span class="wet-tag small warn">进行中</span>
                                </div>
                            </li>
                        </ul>
                        <div class="scode">
                            <div class="title">业务洽谈(扫一扫)</div>
                            <div>
                                <img src="../../../static/weixn.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>