<footer class="wet-pc footer-wrrapper write_type">
    <ul class="footer-list">
        <li class="list-item">
            <ul class="ft_mymsg">
                <li>
                    <img alt="QQ二维码" src="../../../static/qq.jpg">
                    <div class="alert">扫码加qq</div>
                </li>
                <li>
                    <img alt="微信二维码" src="../../../static/weixn.png">
                    <div class="alert">扫码加微信</div>
                </li>
            </ul>
            <dl class="ft_dl">
                <dt>QQ邮箱：</dt>
                <dd>981955667@qq.com</dd>
                <dt>LOL-ID：</dt>
                <dd>断剑丨折翼不斩人(艾欧尼亚)</dd>
                <dt>版权信息：</dt>
                <dd>Copyright © 2018-2020 tangjie. 当前呈现版本 6.0.2</dd>
            </dl>
        </li>
        <li class="list-item">
            <div class="other-modle item-boder">
                <div class="modle_wrrapper">
                    <h4>其他模块</h4>
                    <ul>
                        <li>
                            <a href="https://daohang.qq.com">你所不知道的CSS/HTML</a>
                        </li>
                        <li>
                            <a href="https://daohang.qq.com">omi</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="list-item">
            <div class="other-modle">
                <div class="modle_wrrapper">
                    <h4>友情链接</h4>
                    <ul>
                        <li>
                            <a href="https://daohang.qq.com">你所不知道的CSS/HTML</a>
                        </li>
                        <li>
                            <a href="https://daohang.qq.com">omi</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</footer>

<!-- 移动端 -->
<footer>

</footer>