@import './mycard/index.less';
@import './reward/index.less';
.left_planels{
    position: relative;
    // width: 280px;
    box-sizing: border-box;
    //padding-bottom:20px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    // padding: 20px;
    font-size: 14px;
    margin-bottom: 20px;
    h3{
        padding: 20px;
    }
    .msglist{
        padding: 20px;
        .msglist__item{
            margin-bottom: 15px;
            color: #444443;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}