.bubble-line{
    position: relative;
    height: 30px;
    margin-left: -1px;
    margin-right: -1px;
}
.bubble-line::before{
    content: '';
    /* display: block; */
    height: 0;
    width: 100%;
    border-top:1px dashed #e2e2e2e2;
    position:absolute;
    top: 50%;
    left: 0;
}
.bubble-line .left-shape{
    left: 0;
}
.bubble-line .right-shape{
    right: 0;
}
.bubble-line .left-shape,
.bubble-line .right-shape{
    width: 15px;
    height: 30px;
    position: absolute;
    top: 0;
}