<header class="wet-nav wet-bgcolor__default">
    <div class="wet-nav_inner">
        <div class="wet-nav_logo wet-row">
            <div class="wet-col-xs-2">
                <img class="logo__img">
            </div>
            <div class="wet-col-xs-10">
                <span class="wet-logo_title">深圳市柏林家政服务有限公司</span>
            </div>
        </div>
        <nav class="wet-nav_box">
            <ul class="wet-nav_list">
                <li class="wet-nav_item"></li>
                <li class="wet-nav_item"></li>
                <li class="wet-nav_item"></li>
            </ul>
        </nav>
        <div class="wet-nav_sub">

        </div>
    </div>
</header>