.wet-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #323232;
}

.wet-nav_logo {
    flex: 0 1 500px;
}

.wet-nav_box {
    flex: 1;
    background-color: #ffffff;
}

.wet-nav_inner {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.wet-nav_inner .wet-logo_title {
    height: 70px;
    line-height: 70px;
    font-size: 22px;
    padding: 0 15px;
}

.wet-nav_logo,
.wet-nav_box {
    height: 100%;
}

.wet-nav_list {
    position: relative;
}

.wet-nav_seach:hover .icon_search {
    color: #5AC2E7;
}

.wet-nav .nav_panel .index .item {
    float: left;
    font-size: 14px;
    padding: 15px;
}

.wet-nav .nav_panel .index .item:first-child {
    padding-left: 0;
}

.wet-nav .nav_panel .item.actived,
.wet-nav .nav_panel .item:hover {
    color: #5AC2E7;
}

.wet-nav_list .nav_box_thread {
    width: 20px;
    height: 0;
    border-top: 4px solid #5AC2E7;
    position: absolute;
    top: 0;
    transition: left .2s linear, width .2s linear;
}

.wet-nav_list::after {
    content: '';
    display: table;
    clear: both;
}

.wet-nav_list .wet-nav_item {
    float: left;
    position: relative;
}

.wet-nav_list .wet-nav_item .nav_sub {
    display: none;
    font-size: 14px;
    position: absolute;
    left: -5px;
    min-width: 130%;
    background-color: #ffffff;
    top: 60px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.wet-nav_list .wet-nav_item:hover .nav_sub {
    display: block;
    /* opacity: 0; */
    animation: WetfadeInDown 0.1s .2s ease both;
    -webkit-animation: WetfadeInDown 0.1s .2s ease both;
    -moz-animation: WetfadeInDown 0.1s .2s ease both;
}

.wet-nav_list .wet-nav_item .sub_item a {
    color: #7a8e9d;
    padding: 8px 15px;
    display: block;
    white-space: nowrap;
}

.wet-nav_list .wet-nav_item .sub_item:hover>a {
    color: rgb(90, 194, 231, 0.8);
}

.wet-nav_list .wet-nav_item .sub_item .actived {
    color: rgb(90, 194, 231, 0.8);
}

.wet-nav_list .wet-nav_item:hover>a {
    color: #5AC2E7;
}

.wet-nav_list .wet-nav_item>a {
    text-align: center;
    font-size: 14px;
    color: #555151;
    display: block;
    height: 70px;
    line-height: 70px;
    padding: 0 15px;
}

.wet-nav_list .wet-nav_item .nav_panel {
    padding: 15px;
    min-height: 100px;
    position: absolute;
    left: -400px;
    right: -50px;
    top: 60px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(0, 0, 0, .1);
    display: none;
}

.wet-nav_list .wet-nav_item:hover .nav_panel {
    display: block;
    /* opacity: 0; */
    animation: WetfadeInDown 0.1s .2s ease both;
    -webkit-animation: WetfadeInDown 0.1s .2s ease both;
    -moz-animation: WetfadeInDown 0.1s .2s ease both;
}

.wet-nav_gologin>.login_text {
    color: #5AC2E7;
    position: relative;
    top: 3px;
}


/* 移动端模式 此部分用作移动端组件参考 */

.wet-mnav {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 1.2rem;
    background-color: #ffffff;
    color: #464242;
    /* align-items: center;
    text-align: center; */
}

.wet-mnav .back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2rem;
    vertical-align: middle;
    display: table-cell;
}


/* 移动端下划线一般设计 */

.wet-mnav::after {
    content: '';
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e2e2e2;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.wet-mnav .title {
    font-size: 0.43rem;
    text-align: center;
    height: 1.2rem;
    line-height: 1.2rem;
    width: 100%;
}

.wet-mnav .icon-back {
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top: 50%;
    margin-top: -0.25rem;
    left: 0.2rem;
}