.loading_box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: #ffffff;
  overflow: hidden;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  margin-top: -90px;
}
.loader .text {
  position: absolute;
  top: 77px;
  left: 40px;
  z-index: 5;
  font-size: 22px;
  text-transform: uppercase;
  -webkit-animation: text 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -moz-animation: text 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -ms-animation: text 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -o-animation: text 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  animation: text 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    color: #ffffff;
}
.spinner {
  position: relative;
  width: 180px;
  height: 180px;
  color: #fff;
}
.spinner:before,
.spinner:after {
  content: "";
  position: relative;
  display: block;
}
.spinner:before {
  -webkit-animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -moz-animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -ms-animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -o-animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  width: 180px;
  height: 180px;
  background-color: #db2f00;
}
.spinner:after {
  -webkit-animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -moz-animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -ms-animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -o-animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  position: relative;
  bottom: -40px;
  height: 5px;
  border-radius: 50%;
  background-color: #322b27;
}
@-webkit-keyframes spinner {
  50% {
    -webkit-border-radius: 50%;
    -webkit-transform: scale(0.5) rotate(360deg);
    background-color: #13a3a5;
  }
  100% {
    -webkit-transform: scale(1) rotate(720deg);
    background-color: #db2f00;
  }
}
@-moz-keyframes spinner {
  50% {
    -moz-border-radius: 50%;
    -moz-transform: scale(0.5) rotate(360deg);
    background-color: #13a3a5;
  }
  100% {
    -moz-transform: scale(1) rotate(720deg);
    background-color: #db2f00;
  }
}
@-moz-keyframes spinner {
  50% {
    -moz-border-radius: 50%;
    -moz-transform: scale(0.5) rotate(360deg);
    background-color: #13a3a5;
  }
  100% {
    -moz-transform: scale(1) rotate(720deg);
    background-color: #db2f00;
  }
}
@-o-keyframes spinner {
  50% {
    -o-border-radius: 50%;
    -o-transform: scale(0.5) rotate(360deg);
    background-color: #13a3a5;
  }
  100% {
    -o-transform: scale(1) rotate(720deg);
    background-color: #db2f00;
  }
}
@keyframes spinner {
  50% {
    border-radius: 50%;
    transform: scale(0.5) rotate(360deg);
    background-color: #13a3a5;
  }
  100% {
    transform: scale(1) rotate(720deg);
    background-color: #db2f00;
  }
}
@-webkit-keyframes shadow {
  50% {
    -webkit-transform: scale(0.5);
    background-color: #322b27;
  }
}
@-moz-keyframes shadow {
  50% {
    -moz-transform: scale(0.5);
    background-color: #322b27;
  }
}
@-moz-keyframes shadow {
  50% {
    -moz-transform: scale(0.5);
    background-color: #322b27;
  }
}
@-o-keyframes shadow {
  50% {
    -o-transform: scale(0.5);
    background-color: #322b27;
  }
}
@keyframes shadow {
  50% {
    transform: scale(0.5);
    background-color: #322b27;
  }
}
@-webkit-keyframes text {
  0% {
    -webkit-transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0.5, 0.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
@-moz-keyframes text {
  0% {
    -moz-transform: scale(1, 1);
  }
  50% {
    -moz-transform: scale(0.5, 0.5);
  }
  100% {
    -moz-transform: scale(1, 1);
  }
}
@-moz-keyframes text {
  0% {
    -moz-transform: scale(1, 1);
  }
  50% {
    -moz-transform: scale(0.5, 0.5);
  }
  100% {
    -moz-transform: scale(1, 1);
  }
}
@-o-keyframes text {
  0% {
    -o-transform: scale(1, 1);
  }
  50% {
    -o-transform: scale(0.5, 0.5);
  }
  100% {
    -o-transform: scale(1, 1);
  }
}
@keyframes text {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 0.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
