.ellipsis(){
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
.boxshow(@color){
    box-shadow: 0px 2px 4px 0px @color;
}

.iconbg(@url){
    background-image:@url;
    background-position: center;
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.border_1px(@color){
    /* 2倍屏 */
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid @color;
    @media only screen and (-webkit-min-device-pixel-ratio: 2.0) {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
    /* 3倍屏 */
    @media only screen and (-webkit-min-device-pixel-ratio: 3.0) {
        -webkit-transform: scaleY(0.33);
        transform: scaleY(0.33);
    }
}