.page_content{
    .blog_msg{
        padding-top: 0;
        .blog_msg__desc{
            text-align: justify;
            color: #666666;
            line-height: 26px;
            font-size:14px;
        }
    }
}