<!DOCTYPE html>
<html>
<!-- head模块设置[[ -->
    <%= require('html-loader!../../components/elements/head/index.html') %>
<!-- head模块设置]] -->
    <body class="wetui-page">
        <div class="tjblog-page__box">
            <view class="view">
                <div class="view_right">
                    <%= require('html-loader!../../components/wetui/base/leftmenu/index.html')%> 
                    <%= require('html-loader!../../components/wetui/base/headernav/index.html')%>
                </div>
                <aside class="view_left">

                </aside>
            </view>
        </div>

        <!-- <div class="page_view">

                <div class="wet-pc page_content">
    
                    <div class="content_box wxt-clear_ft">
                        <div class="box_center">
                            <div class="center_content">
                                <h2 class="content_panel content_title">前端学习·分享</h2>
                                <div class="content_panel">
            
                                </div>
                                <div class="content_panel blog_msg">
                                    <h4 class="blog_msg__title">博客简介</h4>
                                    <p class="blog_msg__desc">
                                        简约的风格搭配，对于我这种不好设计的人是一个不错的选择，这样做起来至少不会很丑。本博客主要是webpack4，HTML5,CSS3,JS等技术实现的，本博客不支持ie10以下的，ie11及新版的ie才会有最佳的呈现效果。部分模块使用vue等单页面框架，也就是普通网页和单页面框架混用，毕竟没做服务器端渲染，要普通网页来增加SEO的能力。
                                    </p>
                                </div>
                            </div>
                            <div class="center_content" style="margin-top: 20px;">
                            </div>
                            <div class="centent_footer blog_boder">
                            </div>
                        </div>
                        <aside class="box_left">
                        </aside>
                    </div>

                </div> -->
    </body>
</html>