<div class="update_box">
    <div class="art_box">
        <h3 class="new_art-title">
            <span>最新文章</span>
        </h3>
        <div class="tag_box">
            <span class="wet-tag wet-tag__info">栏目</span>
            <span class="wet-tag wet-tag__primary">标签</span>
        </div>
        <div class="art_base">
            <span><i class="iconfont icon-icon-awsauthor"></i>&nbsp;作者：&nbsp;TANGJIE</span>
            <span><i class="iconfont icon-friend"></i>&nbsp;发布时间：&nbsp;2019-01-31</span>
            <span><i class="iconfont icon-fire"></i>&nbsp;点击量：&nbsp;2</span>
        </div>
        <p class="new_art-desc">基于微信小程序轻快的特点，我们拟定了小程序界面设计指南和建议。 设计指南建立在充分尊重用户知情权与操作权的基础之上。旨在微信生态体系内，建立友好、高效、一致的用户体验，同时最大程度适应和支持不同需求，实现用户与小程序服务方的共赢。</p>
    </div>
    <div class="img_box">
        <img src="../../static/tool.png">
    </div>
    <div class="update_art_tag">
        <img src="../../static/vip.png">
    </div>
    <div class="update_btn-box">
        <span class="wet-tag circle wet-tag__success">原</span>
        <span class="wet-tag circle wet-tag__warn">转</span>
        <span class="wet-tag circle wet-tag__info">教</span>
        <span class="wet-tag circle wet-tag__inverse">杂</span>
        <a href="#" class="wet-btn wet-btn__success" style="margin-left: 10px;">
            <span>点击查看</span>
        </a>
    </div>
</div>